

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    flex-wrap: wrap;
    align-items: center; /*alinha na horizontal*/
    align-content: center;  /*alinha na vertical*/
    
    height: 600px;
    background: silver;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}